.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #eeeeee;
  margin-top: 20px;
  position: relative;
}

.date-time-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: #071414;
  color: white;
  opacity: 0.7;
}

.radio-group {
  max-height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #eeeeee;
  margin-top: 20px;
  position: relative;
  width: 90%;
}

.right {
  width: 5%;
}

.upper {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 10px;
}
.lower {
  width: 100%;
  display: flex;
  padding: 0px 10px;
}
.lower-left {
  width: 20%;
  font-weight: bold;
  /* background-color: pink; */
}
.lower-right {
  width: 80%;
  /* background-color: aqua; */
}
.upper-right {
  width: 80%;
  /* background-color: magenta; */
}
.upper-left {
  width: 20%;
  font-weight: bold;
  /* background-color: blue; */
}
